In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('data-projet7.csv')
data.head()

  country  year_survey  quantile  nb_quantiles     income gdpppp
0     ALB         2008         1           100  728,89795   7297
1     ALB         2008         2           100  916,66235   7297
2     ALB         2008         3           100   1010,916   7297
3     ALB         2008         4           100  1086,9078   7297
4     ALB         2008         5           100  1132,6997   7297

In [51]:
data.shape

(11599, 6)

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11599 entries, 0 to 11598
Data columns (total 6 columns):
country         11599 non-null object
year_survey     11599 non-null int64
quantile        11599 non-null int64
nb_quantiles    11599 non-null int64
income          11599 non-null object
gdpppp          11399 non-null object
dtypes: int64(3), object(3)
memory usage: 543.8+ KB

Aucune colonne nulle

In [4]:
data.describe()

        year_survey      quantile  nb_quantiles
count  11599.000000  11599.000000       11599.0
mean    2007.982757     50.500819         100.0
std        0.909633     28.868424           0.0
min     2004.000000      1.000000         100.0
25%     2008.000000     25.500000         100.0
50%     2008.000000     51.000000         100.0
75%     2008.000000     75.500000         100.0
max     2011.000000    100.000000         100.0

In [36]:
gini = pd.read_excel("gini_excel.xls")
gini.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Voir comment traiter ce df.

# Mission 1

## Années des données utilisées

In [49]:
data['year_survey'].unique()

array([2008, 2009, 2010, 2007, 2006, 2011, 2004], dtype=int64)

<p> Les années présentes dans les données sont : 
    <ul><li> 2004 </li>
        <li> 2006 </li>
        <li> 2007 </li>
        <li> 2008 </li>
        <li> 2009 </li>
        <li> 2010 </li>
        <li> 2011 </li> </ul> 
</p>

## Nombre de pays présents

In [48]:
print('Le nombre de pays est de : ',len(data['country'].unique()))

Le nombre de pays est de :  116

## Population couverte par l'analyse (%age de la population mondiale)

<p> Pour ce pourcentage nous prendront comme base la population mondiale de chaque année concernée. Nous établierons ensuite la moyenne de toutes ces années. </p>

## De quel type de quantile s'agit-il

<p> Les quantiles utilisés dans les données sont des centiles. <br/>
    Le centile nous permet d'être précis dans nos calculs ; Et n'enlève pas la possibilité de prendre plus large (en décile par exemple).
</p>

## PPP

<p> Le PPP (Purchasing Power Parity) permet de prendre en compte non seulement les revenus des habitant mais aussi le coût de la vie dans le pays. <br/>
    Il est donc de ce fait beaucoup plus précis sur la richesse des habitants. </p>

# Mission 2