In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [179]:
data = pd.read_csv('data-projet7.csv', decimal =".")
data.head()

  country  year_survey  quantile  nb_quantiles     income gdpppp
0     ALB         2008         1           100  728,89795   7297
1     ALB         2008         2           100  916,66235   7297
2     ALB         2008         3           100   1010,916   7297
3     ALB         2008         4           100  1086,9078   7297
4     ALB         2008         5           100  1132,6997   7297

In [180]:
data.shape

(11599, 6)

In [191]:
any(pd.isna(data))

True

<p> Des valeurs NaN sont présentes, voyons sur quelles colonnes </p>

In [200]:
for i in data.columns:
    print("La colonne '{}' :".format(i), any(pd.isna(data[i])))
#Bon...........

La colonne 'country' : False
La colonne 'year_survey' : False
La colonne 'quantile' : False
La colonne 'nb_quantiles' : False
La colonne 'income' : False
La colonne 'gdpppp' : False

In [181]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11599 entries, 0 to 11598
Data columns (total 6 columns):
country         11599 non-null object
year_survey     11599 non-null int64
quantile        11599 non-null int64
nb_quantiles    11599 non-null int64
income          11599 non-null object
gdpppp          11399 non-null object
dtypes: int64(3), object(3)
memory usage: 543.8+ KB

Aucune colonne nulle ; Par contre on peut voir que 'income' et 'gdpppp' sont object et non numeric

In [185]:
data['gdpppp'] = data['gdpppp'].astype(str)
data['gdpppp'] = data['gdpppp'].replace(",", ".")
data['gdpppp'] = [x.replace(',', '.') for x in data['gdpppp']]
#data['gdpppp'] = data['gdpppp'].astype(str).astype(float)
data['gdpppp'] = pd.to_numeric(data['gdpppp'])
data['gdpppp']

ValueError: Unable to parse string "nan" at position 5800

In [203]:
data.iloc[5800, :]

country              XKX
year_survey         2008
quantile               1
nb_quantiles         100
income          437,8937
gdpppp               nan
Name: 5800, dtype: object

In [4]:
data.describe()

        year_survey      quantile  nb_quantiles
count  11599.000000  11599.000000       11599.0
mean    2007.982757     50.500819         100.0
std        0.909633     28.868424           0.0
min     2004.000000      1.000000         100.0
25%     2008.000000     25.500000         100.0
50%     2008.000000     51.000000         100.0
75%     2008.000000     75.500000         100.0
max     2011.000000    100.000000         100.0

In [36]:
gini = pd.read_excel("gini_excel.xls")
gini.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Voir comment traiter ce df.

# Mission 1

## Années des données utilisées

In [49]:
data['year_survey'].unique()

array([2008, 2009, 2010, 2007, 2006, 2011, 2004], dtype=int64)

<p> Les années présentes dans les données sont : 
    <ul><li> 2004 </li>
        <li> 2006 </li>
        <li> 2007 </li>
        <li> 2008 </li>
        <li> 2009 </li>
        <li> 2010 </li>
        <li> 2011 </li> </ul> 
</p>

## Nombre de pays présents

In [48]:
print('Le nombre de pays est de : ',len(data['country'].unique()))

Le nombre de pays est de :  116

## Population couverte par l'analyse (%age de la population mondiale)

<p> Pour ce pourcentage nous prendront comme base la population mondiale de chaque année concernée. Nous établierons ensuite la moyenne de toutes ces années. </p>

## De quel type de quantile s'agit-il

<p> Les quantiles utilisés dans les données sont des centiles. <br/>
    Le centile nous permet d'être précis dans nos calculs ; Et n'enlève pas la possibilité de prendre plus large (en décile par exemple).
</p>

## PPP

<p> Le PPP (Purchasing Power Parity) permet de prendre en compte non seulement les revenus des habitant mais aussi le coût de la vie dans le pays. <br/>
    Il est donc de ce fait beaucoup plus précis sur la richesse des habitants. </p>

# Mission 2

## Diversité des pays

In [162]:
np.random.seed(1)
sample = np.random.randint(116, size=10)
X = data['country'].unique()[sample]
msk = [data['country'] == i for i in X]
sampled_data = data[msk[0]|msk[1]|msk[2]|msk[3]|msk[4]|msk[5]|msk[6]|
                    msk[7]|msk[8]|msk[9]]
#Voir comment refaire cette ligne, ne fonctionne pas avec juste msk ou msk[:]
sampled_data = sampled_data.reset_index()
sampled_data.head()

   index country  year_survey  quantile  nb_quantiles     income gdpppp
0    500     BEL         2008         1           100  2421,9417  33561
1    501     BEL         2008         2           100  3812,5588  33561
2    502     BEL         2008         3           100   4534,754  33561
3    503     BEL         2008         4           100   5019,002  33561
4    504     BEL         2008         5           100  5442,7627  33561

     index country  year_survey  quantile  nb_quantiles     income gdpppp
0      500     BEL         2008         1           100  2421,9417  33561
1      501     BEL         2008         2           100  3812,5588  33561
2      502     BEL         2008         3           100   4534,754  33561
3      503     BEL         2008         4           100   5019,002  33561
4      504     BEL         2008         5           100  5442,7627  33561
5      505     BEL         2008         6           100  5789,4575  33561
6      506     BEL         2008         7           100   5932,277  33561
7      507     BEL         2008         8           100   6155,182  33561
8      508     BEL         2008         9           100  6464,0415  33561
9      509     BEL         2008        10           100   6722,952  33561
10     510     BEL         2008        11           100  6980,2744  33561
11     511     BEL         2008        12           100  7225,5337  33561
12     512     BEL         2008        13           100   7398,678  33561
13     513     BEL         2008        14           100   7576,367  33561
14     514     BEL         2008        15           100  7790,9087  33561
15     515     BEL         2008        16           100  8010,5806  33561
16     516     BEL         2008        17           100   8197,304  33561
17     517     BEL         2008        18           100   8386,279  33561
18     518     BEL         2008        19           100   8623,151  33561
19     519     BEL         2008        20           100   8828,586  33561
20     520     BEL         2008        21           100    8951,07  33561
21     521     BEL         2008        22           100   9133,271  33561
22     522     BEL         2008        23           100   9274,131  33561
23     523     BEL         2008        24           100   9459,186  33561
24     524     BEL         2008        25           100   9647,348  33561
25     525     BEL         2008        26           100   9691,989  33561
26     526     BEL         2008        27           100   9832,226  33561
27     527     BEL         2008        28           100   10004,87  33561
28     528     BEL         2008        29           100  10155,132  33561
29     529     BEL         2008        30           100  10338,362  33561
..     ...     ...          ...       ...           ...        ...    ...
970  10769     UKR         2008        71           100  3804,0632   6721
971  10770     UKR         2008        72           100  3845,2258   6721
972  10771     UKR         2008        73           100  3897,8909   6721
973  10772     UKR         2008        74           100  3964,9668   6721
974  10773     UKR         2008        75           100  4023,0315   6721
975  10774     UKR         2008        76           100  4070,5837   6721
976  10775     UKR         2008        77           100   4129,649   6721
977  10776     UKR         2008        78           100   4190,675   6721
978  10777     UKR         2008        79           100  4252,2373   6721
979  10778     UKR         2008        80           100   4327,926   6721
980  10779     UKR         2008        81           100   4396,631   6721
981  10780     UKR         2008        82           100   4481,878   6721
982  10781     UKR         2008        83           100  4572,5264   6721
983  10782     UKR         2008        84           100  4672,5938   6721
984  10783     UKR         2008        85           100   4756,689   6721
985  10784     UKR         2008        86           100  4840,9814   6721
986  10785     UKR         2008        87           100   4937,057   6721
987  10786     UKR         2008        88           100   5045,289   6721
988  10787     UKR         2008        89           100  5176,6377   6721
989  10788     UKR         2008        90           100   5321,148   6721
990  10789     UKR         2008        91           100  5467,7593   6721
991  10790     UKR         2008        92           100   5648,735   6721
992  10791     UKR         2008        93           100  5827,9814   6721
993  10792     UKR         2008        94           100  6033,0728   6721
994  10793     UKR         2008        95           100   6288,579   6721
995  10794     UKR         2008        96           100  6614,2666   6721
996  10795     UKR         2008        97           100  7025,2324   6721
997  10796     UKR         2008        98           100  7549,7246   6721
998  10797     UKR         2008        99           100   8652,086   6721
999  10798     UKR         2008       100           100  11564,171   6721

[999 rows x 7 columns]

In [142]:
sampled_data = pd.crosstab(index=sampled_data["quantile"], 
                           columns=sampled_data["country"], 
                           values=sampled_data["income"],
                          aggfunc = sum)

sampled_data.plot(kind="bar", figsize=(18,10), stacked=False)
plt.title("titre")
plt.xlabel("Classes de revenus")
plt.ylabel("Revenu moyen")
#plt.savefig("Graphiques/titre.png")
plt.show()

country     BEL   BIH   BRA    CHL  GIN    LVA   MNG        MWI   NIC   UKR
quantile
1         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
2         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
3         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
4         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
5         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
6         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
7         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
8         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
9         33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
10        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
11        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
12        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
13        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
14        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
15        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
16        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
17        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
18        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
19        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
20        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
21        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
22        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
23        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
24        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
25        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
26        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
27        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
28        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
29        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
30        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
...         ...   ...   ...    ...  ...    ...   ...        ...   ...   ...
71        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
72        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
73        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
74        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
75        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
76        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
77        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
78        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
79        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
80        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
81        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
82        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
83        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
84        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
85        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
86        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
87        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
88        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
89        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
90        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
91        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
92        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
93        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
94        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
95        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
96        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
97        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
98        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
99        33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721
100       33561  7472  9559  13390  977  15596  3286  728,81158  2576  6721

[100 rows x 10 columns]