In [1]:
import numpy as np
import pandas as pd

In [16]:
np.random.seed(1)
ind = ['A', 'B', 'C']
col = [2017, 2018, 2019]
val = [np.random.randn(3), np.random.randn(3), np.random.randn(3)]
data = pd.DataFrame(val, index=ind, columns=col)
data

       2017      2018      2019
A  1.624345 -0.611756 -0.528172
B -1.072969  0.865408 -2.301539
C  1.744812 -0.761207  0.319039

In [18]:
np.random.seed(1)
ind2 = [['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
        [2017, 2018, 2019, 2017, 2018, 2019, 2017, 2018, 2019]]
tuples = list(zip(*ind2))
ind2 = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(9), index=ind2, columns = ['Valeur'])
df

                Valeur
first second
A     2017    1.624345
      2018   -0.611756
      2019   -0.528172
B     2017   -1.072969
      2018    0.865408
      2019   -2.301539
C     2017    1.744812
      2018   -0.761207
      2019    0.319039